<div class="container">
  <div class="card card-body mt-5">
    <form class="m-5" [formGroup]="procedureTypeForm">
      <h3>{{procedureTypeService.procedureTypeSelected ? 'Procedure Type Update': 'New Procedure Type'}}</h3>
      <div class="mb-3 mt-4">
        <label for="procedureName" class="form-label">Procedure Name</label>
        <input formControlName="name" type="text" id="procedureName" class="form-control" placeholder="Ejm: Dni">
      </div>
      <div class="mb-3">
        <label for="levelPerson" class="form-label">Person Level</label>
        <select formControlName="person_level" id="levelPerson" class="form-select" required="true">
            <option value="Student" selected>Student</option>
            <option value="External">External</option>
            <option value="All">All</option>              
        </select>
      </div>
      <div class="mb-3">
        <label for="abreviaton" class="form-label">Abreviaton</label>
        <input formControlName="abreviaton" type="text" id="abreviaton" class="form-control" placeholder="Ejm: None">
      </div>
      <button type="submit" class="btn btn-dark" (click)="edit ? update() : create()">{{procedureTypeService.procedureTypeSelected ? 'Update': 'Register'}}</button>
      <button type="button" class="btn btn-secondary" (click)="btnCancel()">Cancel</button>
  </form>
  </div>
</div>

